<?php
if (!empty($GLOBALS['wiki']->getParameter('header'))) {
	$premier = false;
} else {
	$premier = true;
}
if (!empty($GLOBALS['wiki']->getParameter('show_author')) && $GLOBALS['wiki']->getParameter('show_author') == '1') {
	$showauthor = true;
} else {
	$showauthor = false;
}
?>
<?php if (count($fiches)>0) : ?>
    <?php foreach ($fiches as $fiche) : ?>
	    <?php if ($premier==true) : $premier = false; ?>
		    <div class="jumbotron bazar-entry" <?php echo $fiche['html_data']; ?>>
				<?php if (!empty($fiche['imagebf_image']) && file_exists('files/'.$fiche['imagebf_image'])) : ?>
					<a class="pull-right" style="margin:0 0 1em 1em;" href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>">
					<img alt="<?php echo htmlentities($fiche['bf_titre']);?>"
						src="<?php echo redimensionner_image(
							'files/'.$fiche['imagebf_image'],
							'cache/image_400_300_'.$fiche['imagebf_image'],
							400,
							300,
							'crop'
						); ?>">
					</a>
				<?php endif; ?>	  
				<h2 style="margin-top:0;margin-bottom:.25em;">
					<a href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>">
						<?php echo $fiche['bf_titre']; ?>
					</a>
				</h2>
				<small>
					<a href="<?php echo $GLOBALS['wiki']->href('revisions', $fiche['id_fiche']);?>">
						<i class="far fa-calendar-alt"></i>
					</a>
					&nbsp;<?php echo date('d.m.Y', strtotime($fiche['date_maj_fiche'])); ?>
				</small>
				<?php if ($showauthor) : ?>
					<small>par <?php echo $GLOBALS['wiki']->Format($fiche['createur']); ?></small>
				<?php endif; ?>

				<p class="lead text-justify">
					<?php echo $GLOBALS['wiki']->Format($fiche['bf_chapeau']); ?></p>
				<p class="lead">
					<a href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>">Plus d'infos ...</a>
				</p>
				<div class="clearfix"></div>
			</div>
		<?php else : ?>
			<div class="bazar-entry" <?php echo $fiche['html_data']; ?>>
				<?php if (!empty($fiche['imagebf_image']) && file_exists('files/'.$fiche['imagebf_image'])) : ?>
					<a class="pull-left" style="margin:0 1em 1em 0;" href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>">
					<img alt="<?php echo htmlentities($fiche['bf_titre']);?>"
						src="<?php echo redimensionner_image(
							'files/'.$fiche['imagebf_image'],
							'cache/image_200_150_'.$fiche['imagebf_image'],
							200,
							150,
							'crop'
						); ?>">
					</a>
				<?php endif; ?>	  
				<h4>
					<a href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>">
						<?php echo $fiche['bf_titre'];?>
					</a>
				</h4>
				<small>
					<a href="<?php echo $GLOBALS['wiki']->href('revisions', $fiche['id_fiche']);?>">
						<i class="far fa-calendar-alt"></i>
					</a>
					&nbsp;<?php echo date('d.m.Y', strtotime($fiche['date_maj_fiche'])); ?>
				</small>
				<?php if ($showauthor) : ?>
					<small>par <?php echo $GLOBALS['wiki']->Format($fiche['createur']); ?></small>
				<?php endif; ?>
	
				<p class="lead text-justify">
					<?php echo $GLOBALS['wiki']->Format($fiche['bf_chapeau']); ?>
				</p>
				<a href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>">Plus d'infos ...</a>
				<div class="clearfix"></div>
			</div>
		<?php endif;  ?> 
    <?php endforeach;  ?>
<?php else : ?>
   <div class="text-info">Il n 'y a pas de fiche pour cette période.</div>
<?php endif;  ?>   