<?php if( count($fiches)>0 ) : ?>
<!-- Start Advanced Gallery Html Containers -->
				<style>
					div.content {
						/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
						display: none;
						float: right;
						width: 550px;
					}
					div.content a, div.navigation a {
						text-decoration: none;
						color: #777;
					}
					div.content a:focus, div.content a:hover, div.content a:active {
						text-decoration: underline;
					}
					div.controls {
						margin-top: 5px;
						height: 23px;
					}
					div.controls a {
						padding: 5px;
					}
					div.ss-controls {
						float: left;
					}
					div.nav-controls {
						float: right;
					}
					div.slideshow-container {
						position: relative;
						clear: both;
						height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
					}
					div.loader {
						position: absolute;
						top: 0;
						left: 0;
						background-image: url('loader.gif');
						background-repeat: no-repeat;
						background-position: center;
						width: 550px;
						height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
					}
					div.slideshow {

					}
					div.slideshow span.image-wrapper {
						display: block;
						position: absolute;
						line-height:502px; /* ajoute par Lila pour permettre le vertical align middle de img */
						top: 0;
						left: 0;
					}
					div.slideshow a.advance-link {
						display: block;
						width: 550px;
						height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
					/* 	line-height: 502px;  *//* This should be set to be at least the height of the largest image in the slideshow */
						text-align: center;
					}
					div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
						text-decoration: none;
					}
					div.slideshow img {
						vertical-align: middle;
						border: 1px solid #ccc;
					}
					div.download {
						float: right;
					}
					div.caption-container {
						position: relative;
						clear: left;
						height: auto;
					}
					span.image-caption {
						display: block;
						position: absolute;
						width: 550px;
						top: 0;
						left: 0;
					}
					div.caption {
						padding: 12px;
					}
					div.image-title {
						font-weight: bold;
						font-size: 1.4em;
					}
					div.image-auth {
						font-weight: bold;
						line-height: 2em;
					}
					div.image-desc {
						line-height: 1.3em;
						padding-top: 12px;
					}
					div.navigation {
						/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
					}
					ul.thumbs {
						clear: both;
						margin: 0;
						padding: 0;
					}
					ul.thumbs li {
						float: left;
						padding: 0;
						margin: 5px 10px 5px 0;
						list-style: none;
					}
					a.thumb {
						padding: 2px;
						display: block;
						border: 1px solid #ccc;
					}
					ul.thumbs li.selected a.thumb {
						background: #000;
					}
					a.thumb:focus {
						outline: none;
					}
					ul.thumbs img {
						border: none;
						display: block;
						height:70px;
					}
					div.pagination {
						clear: both;
					}
					div.navigation div.top {
						margin-bottom: 12px;
						height: 11px;
					}
					div.navigation div.bottom {
						margin-top: 12px;
					}
					div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
						display: block;
						float: left;
						margin-right: 2px;
						padding: 4px 7px 2px 7px;
						border: 1px solid #ccc;
					}
					div.pagination a:hover {
						background-color: #eee;
						text-decoration: none;
					}
					div.pagination span.current {
						font-weight: bold;
						background-color: #000;
						border-color: #000;
						color: #fff;
					}
					div.pagination span.ellipsis {
						border: none;
						padding: 5px 0 3px 2px;
					}
				</style>

                <div id="gallery" class="content">
				<!-- que des div vides : ils seront utilises par le javascript-->
                    <div id="controls" class="controls"></div>
                    <div class="slideshow-container">
                        <div id="loading" class="loader"></div>
                        <div id="slideshow" class="slideshow"></div>
                    </div>
                    <div id="caption" class="caption-container"></div>
                </div>

                <div id="thumbs" class="navigation">
                    <ul class="thumbs">

<?php foreach($fiches as $fiche): ?>
  <?php if (isset($fiche['imagebf_image']) && !empty($fiche['imagebf_image'])) : ?>
                        <li>
                            <a class="thumb" name="<?php echo $fiche['id_fiche'];?>" href="<?php if (!file_exists('cache/image_540_'.$fiche['imagebf_image'])) echo redimensionner_image('files/'.$fiche['imagebf_image'], 'cache/image_540_'.$fiche['imagebf_image'], 540, 500); else echo 'cache/image_540_'.$fiche['imagebf_image']; ?>" title="<?php echo $fiche['bf_titre'];?>">
                              <img src="<?php if (!file_exists('cache/image_100_'.$fiche['imagebf_image'])) echo redimensionner_image('files/'.$fiche['imagebf_image'], 'cache/image_100_'.$fiche['imagebf_image'], 70, 50); else echo 'cache/image_100_'.$fiche['imagebf_image'];  ?>" alt="<?php echo $fiche['bf_titre'];?>" width="70px" height="50px" />
                            </a>
                            <div class="caption">
                                <div class="download">
                                    <a href="files/<?php echo $fiche['imagebf_image'];?>">T&eacute;l&eacute;charger</a>
                                </div>
                                <div class="image-title">
                                    <a href="wakka.php?wiki=<?php echo $fiche['id_fiche'];?>" title="Plus d'infos sur cette photo"><?php echo $fiche['bf_titre'];?></a>
								</div>

                                <div class="image-auth">Auteur : <?php echo $fiche['bf_nom'];?></div>
                                <div class="image-desc"><?php echo $fiche['bf_description'];?></div>
								<p><b>Droit d'auteur :</b> les images sont disponibles sous <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">licence Creative Commons paternit&eacute; partage &agrave; l'identique</a>
                            </div>
                        </li>
<?php endif; ?>
<?php endforeach; ?>
                    </ul>
                </div>
                <div style="clear: both;"></div>
<?php
$GLOBALS['js'] = ((isset($GLOBALS['js'])) ? $GLOBALS['js'] : '').'<script type="text/javascript" src="themes/tools/bazar/javascripts/jquery.galleriffic.js"></script>
<script type="text/javascript" src="themes/tools/bazar/javascripts/jquery.opacityrollover.js"></script>
<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
document.write(\'<style>.noscript { display: none; }</style>\');
</script>
<script type="text/javascript">
      jQuery(document).ready(function($) {
        // We only want these styles applied when javascript is enabled
        $(\'div.navigation\').css({\'width\' : \'290px\', \'float\' : \'left\'});
        $(\'div.content\').css(\'display\', \'block\');
        // Initially set opacity on thumbs and add
        // additional styling for hover effect on thumbs
        var onMouseOutOpacity = 0.67;
        $(\'#thumbs ul.thumbs li\').opacityrollover({
          mouseOutOpacity:   onMouseOutOpacity,
          mouseOverOpacity:  1.0,
          fadeSpeed:         \'fast\',
          exemptionSelector: \'.selected\'
        });

        // Initialize Advanced Galleriffic Gallery
        var gallery = $(\'#thumbs\').galleriffic({
          delay:                     2500,
          numThumbs:                 15,
          preloadAhead:              10,
          enableTopPager:            true,
          enableBottomPager:         true,
          maxPagesToShow:            7,
          imageContainerSel:         \'#slideshow\',
          controlsContainerSel:      \'#controls\',
          captionContainerSel:       \'#caption\',
          loadingContainerSel:       \'#loading\',
          renderSSControls:          true,
          renderNavControls:         true,
          playLinkText:              \'Lancer le diaporama\',
          pauseLinkText:             \'Pause \',
          prevLinkText:              \'&lsaquo; Photo pr&eacute;c&eacute;dente\',
          nextLinkText:              \'Photo suivante &rsaquo;\',
          nextPageLinkText:          \'Next &rsaquo;\',
          prevPageLinkText:          \'&lsaquo; Prev\',
          enableHistory:             false,
          autoStart:                 false,
          syncTransitions:           true,
          defaultTransitionDuration: 900,
          onSlideChange:             function(prevIndex, nextIndex) {
            // \'this\' refers to the gallery, which is an extension of $(\'#thumbs\')
            this.find(\'ul.thumbs\').children()
              .eq(prevIndex).fadeTo(\'fast\', onMouseOutOpacity).end()
              .eq(nextIndex).fadeTo(\'fast\', 1.0);
          },
          onPageTransitionOut:       function(callback) {
            this.fadeTo(\'fast\', 0.0, callback);
          },
          onPageTransitionIn:        function() {
            this.fadeTo(\'fast\', 1.0);
          }
        });
      });
    </script>
';
?>
<?php endif; ?>
