
   <?php
   
if (!function_exists('date_periode')) {
   
 function date_periode($fiche)
{
    $nbjour = 200;
    $datejour = time();
    $datemax = $datejour + ($nbjour*24*60*60);  // date max à J+ nb de jours
    $datefiche = strtotime($fiche['bf_date_debut_evenement']);
  $datefin = strtotime($fiche['bf_date_fin_evenement']);
    if (($datefiche >=$datejour  && $datefiche <=$datemax ) || ($datefin >=$datejour  && $datefin <=$datemax )) {
        return true;
        }
     else  {
         return  false;
    }
}
}
if (!function_exists('date_compare')) {
    //tri par ordre chronologique
     function date_compare($a, $b)
     { 
       $t1 = strtotime($a['bf_date_debut_evenement']);    // strtotime = fonction qui transforme une chaine de caractere en date informatque (= un chiffre calculé depuis 1970)
       $t2 = strtotime($b['bf_date_debut_evenement']);
     return $t1 - $t2;
   }    
}
  $fiches = array_filter($fiches, "date_periode");  
  usort($fiches, 'date_compare');  // http://php.net/manual/fr/function.usort.php (si on veut avoir mal au crane)  
 ?>


<?php
if(count($fiches)>0) : ?>
    <?php
    foreach($fiches as $fiche): ?>
        <article class="bazar-entry" <?php echo $fiche['html_data'];?>>
          <a href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>">
            <h4><?php echo 'Le '.date('d.m.Y à H:i', strtotime($fiche['bf_date_debut_evenement'])); ?> / <?php echo $fiche['bf_titre']; ?> </h4>
          </a>
          <p class="resume">
             <?php echo $GLOBALS['wiki']->Format($fiche['bf_chapeau']); ?>
          </p>
          <hr>
        </article>
        <?php
    endforeach; ?>
    <?php
endif;
