<?php if( count($fiches)>0 ) : ?>
   <?php
   $nb = $param['nbbazarliste'];
   if (isset($_POST['contact'][$nb])) {
     include_once 'tools/contact/libs/contact.functions.php';
     foreach($_POST['contact'][$nb] as $id) {
       $fiche = baz_valeurs_fiche($id);
       $lien = $GLOBALS['wiki']->href('', $fiche['id_fiche']);
       $lienedit = $GLOBALS['wiki']->href('edit', $fiche['id_fiche']);
       $liens = "\n\nVoir la fiche : <a href=\"$lien\">$lien</a>\n"
         ."Editer la fiche : <a href=\"$lienedit\">$lienedit</a>\n";
       if (!empty($fiche["bf_mail"])) {
         // envoi du mail
         send_mail($_POST['mailsender'][$nb], $_POST['namesender'][$nb], $fiche["bf_mail"], $_POST['subject'][$nb], strip_tags($_POST['message'][$nb].$liens), nl2br($_POST['message'][$nb].$liens));
       }
       if (!empty($fiche["bf_mail1"])) {
         // envoi du mail
         send_mail($_POST['mailsender'][$nb], $_POST['namesender'][$nb], $fiche["bf_mail1"], $_POST['subject'][$nb], strip_tags($_POST['message'][$nb].$liens), nl2br($_POST['message'][$nb].$liens));
       }
       if (!empty($fiche["bf_mail2"])) {
         // envoi du mail
         send_mail($_POST['mailsender'][$nb], $_POST['namesender'][$nb], $fiche["bf_mail2"], $_POST['subject'][$nb], strip_tags($_POST['message'][$nb].$liens), nl2br($_POST['message'][$nb].$liens));
       }
       echo '<div class="alert alert-success">Mails envoyés avec succès !</div>';
     }
   }
$GLOBALS['nbjour'] = $GLOBALS['wiki']->GetParameter('nbjour');
if (!(int)$GLOBALS['nbjour'] === 0 and empty($GLOBALS['nbjour'])) {
  $GLOBALS['nbjour'] = 180;
}
if (!function_exists('date_periode')) {
  function date_periode($fiche)
  {
      $datejour = time();
      $datemax = $datejour - ((int)$GLOBALS['nbjour']*24*60*60);  // date max à J+ nb de jours
      $datefiche = strtotime($fiche['date_maj_fiche']);

      if ($datefiche <= $datemax) {
          return true;
      } else {
          return  false;
      }
  }
}
if (!function_exists('date_compare')) {
    //tri par ordre chronologique
     function date_compare($a, $b)
     {
       $t1 = strtotime($a['date_maj_fiche']);
       $t2 = strtotime($b['date_maj_fiche']);
     return $t1 - $t2;
   }
}
  $fiches = array_filter($fiches, "date_periode");
  usort($fiches, 'date_compare');  // http://php.net/manual/fr/function.usort.php (si on veut avoir mal au crane)
 ?>

<?php echo $info_res; ?>
<?php echo $pager_links;?>
<script type="text/javascript">
  checked<?php echo $nb; ?>=false;
  function checkedAll<?php echo $nb; ?>() {
    if (checked<?php echo $nb; ?> == false) {
      checked<?php echo $nb; ?> = true
    } else {
    checked<?php echo $nb; ?> = false
    }

    $('#frm<?php echo $nb; ?> .mail-checkbox').prop('checked', checked<?php echo $nb; ?>);
  }
</script>
<form id="frm<?php echo $nb; ?>" action="<?php echo $GLOBALS['wiki']->href('', $GLOBALS['wiki']->GetPageTag());?>" method="post">
  <h4>Envoyer un mail aux référents de :</h4>
  <div class="row">
    <div class="col-xs-6">
      <label class="no-dblclick"><input type="checkbox" onclick="checkedAll<?php echo $nb; ?>();"> Tout cocher</label><br><br>

      <ul class="list-unstyled">
      <?php
      foreach($fiches as $fiche): ?>
          <li class="bazar-entry" style="margin-bottom:8px" <?php echo $fiche['html_data'];?>>
            <label><input class="mail-checkbox" type="checkbox" name="contact[<?php echo $nb; ?>][]" value="<?php echo $fiche['id_fiche']; ?>"> <?php echo $fiche['bf_titre'];?> <a class="btn btn-xs btn-default modalbox" href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>"
              title="<?php echo htmlspecialchars($fiche['bf_titre']); ?>"><i class="glyphicon glyphicon-eye-open"></i>
            </a><br><small>Dernière maj : <?php echo date('d.m.Y', strtotime($fiche['date_maj_fiche'])); ?></small></label>
          </li>
          <?php
      endforeach; ?>
      </ul>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label>Nom de l&apos;expediteur</label>
        <input type="text" class="form-control" name="namesender[<?php echo $nb; ?>]" value="<?php echo $GLOBALS['wiki']->config['wakka_name']; ?>">
      </div>
      <div class="form-group">
        <label>Email de l&apos;expediteur</label>
        <input type="email" class="form-control" name="mailsender[<?php echo $nb; ?>]" value="test@toto.fr" required>
      </div>
      <div class="form-group">
        <label>Sujet du message</label>
        <input type="text" class="form-control" name="subject[<?php echo $nb; ?>]" value="Mettez à jour votre fiche sur le site <?php echo $GLOBALS['wiki']->config['wakka_name']; ?>">
      </div>
      <div class="form-group">
        <label>Message</label>
        <textarea rows="10" class="form-control" name="message[<?php echo $nb; ?>]">Bonjour,
Votre fiche n'a pas été mise à jour depuis plus de 6 mois.
Vous pouvez cliquer sur le lien ci-dessous pour accéder à l'édition de votre fiche.
Merci de votre contribution</textarea>
      </div>
      <button type="submit" class="btn btn-xl btn-primary">Envoyer le(s) mail(s)</button>
     </div>
  </div>
</form>
<?php echo $pager_links; ?>
<?php endif; ?>
