<?php
if (!function_exists('tokenTruncate')) {
    function tokenTruncate($string, $your_desired_width)
{
    $parts = preg_split('/([\s\n\r]+)/', $string, null, PREG_SPLIT_DELIM_CAPTURE);
    $parts_count = count($parts);

    $length = 0;
    $last_part = 0;
    for (; $last_part < $parts_count; ++$last_part) {
        $length += strlen($parts[$last_part]);
        if ($length > $your_desired_width) {
            break;
        }
    }

    return implode(array_slice($parts, 0, $last_part));
}

}
$premier = false;
$showauthor = true;
$liste = baz_valeurs_liste('ListeTypeDIdee');
if (!empty($GLOBALS['wiki']->getParameter('show_date')) && $GLOBALS['wiki']->getParameter('show_date') == '1') {
	$showdate = true;
} else {
	$showdate = false;
}
$nbcols = $GLOBALS['wiki']->getParameter('nbcols');
if (!empty($nbcols)) {
	if (!in_array($nbcols, ['1', '2', '3', '4'])) {
		$nbcols = 1;
	}
} else {
	$nbcols = 1;
}
?>
<?php if (count($fiches)>0) : ?>
    <?php foreach ($fiches as $fiche) : ?>
		<div class="article bazar-entry" <?php echo $fiche['html_data']; ?>>
            <?php if (!empty($fiche['imagebf_image']) && file_exists('files/'.$fiche['imagebf_image'])) : ?>
                <a class="modalbox attached_file left" href="files/<?php echo $fiche['imagebf_image']; ?>" title="<?php echo htmlentities($fiche['bf_titre']);?>">
                    <img class="img-blog" alt="<?php echo htmlentities($fiche['bf_titre']);?>"
                    src="<?php echo redimensionner_image(
                        'files/'.$fiche['imagebf_image'],
                        'cache/image_150_150_'.$fiche['imagebf_image'],
                        150,
                        150,
                        'crop'
                    ); ?>" />
                </a>
            <?php endif; ?>	  
            <h3 class="title-article">
                <?php echo $fiche['bf_titre'];?>
                <?php if ($showdate) : ?>
                <small>
                    <i class="far fa-calendar-alt"></i>
                    &nbsp;<?php echo date('d.m.Y', strtotime($fiche['date_maj_fiche'])); ?>
                </small>
                <?php endif; ?>
                <?php if ($showauthor && !empty($fiche['bf_auteur'])) : ?>
                    <small>par <?php echo $fiche['bf_auteur']; ?></small>
                <?php endif; ?>
            </h3>
            <?php if (isset($fiche['checkboxListeTypeDIdeetypeidee']) && !empty($fiche['checkboxListeTypeDIdeetypeidee'])) : ?>
                <p class="categories">
                    <?php 
                    $tags = explode(',', $fiche['checkboxListeTypeDIdeetypeidee']);
                    $taglabels = [];
                    foreach ($tags as $tag) {
                        $taglabels[] = $liste['label'][$tag];
                    }
                    echo implode(', ', $taglabels);
                    ?>
                </p>
			<?php endif;  ?> 	
            <?php if (isset($fiche['bf_description']) && !empty($fiche['bf_description'])) : ?>
                <p class='desc'>
                    <?php $desc = strip_tags($GLOBALS['wiki']->Format($fiche['bf_description']),'<br>');
                        $max = 300;
                        
                        if (strlen($desc) <= $max) {
                            echo $desc;
                        } else  {
                        $short = tokenTruncate($desc, $max); 
                        $rest = substr($desc, strlen($short));
                    echo $short.'<a onclick="$(this).remove();" role="button" data-toggle="collapse" href="#collapse'.$fiche['id_fiche'].'" aria-expanded="false">...Lire la suite</a>
                    <span class="collapse" id="collapse'.$fiche['id_fiche'].'">
                        '.$rest.'
                    </span>';
                  }  ?>
                </p>
            <?php endif;  ?> 
            <?php if (isset($fiche['bf_url']) && !empty($fiche['bf_url'])) : ?>
                <p class='link'>
                    <a target="_blank" href="<?php echo $fiche['bf_url']; ?>" title="Voir le site associé"><i class="far fa-hand-point-right"></i> En savoir plus</a>
                </p>
            <?php endif;  ?> 
            <?php if ($GLOBALS['wiki']->UserIsAdmin()) : ?>
            <div class="pull-right BAZ_actions_fiche">
                <a class="btn btn-default" href="<?php echo $GLOBALS['wiki']->href('edit', $fiche['id_fiche']); ?>"><i class="fa fa-pencil-alt"></i> <span>Modifier</span></a>
                <a class="btn btn-danger btn-delete-page-confirm" href="<?php echo $GLOBALS['wiki']->href('deletepage', $fiche['id_fiche']); ?>" data-confirm-text="Etes vous sûr de vouloir supprimer la fiche ?"><i class="fa fa-trash"></i> <span>Supprimer</span></a>
            </div>
            <?php endif;  ?> 
            <div class="clearfix"></div>
        </div>
        <hr />
    <?php endforeach;
    ?>
    
<?php endif;  ?>   
